@font-face {font-family:myFont; 
   src: url("方正字迹-吕建德行楷简体.ttf");
  }  

div{
  font-family: myFont;
}
body
{
  background:  #FFB7DD;
}


a:link { text-decoration: none;color: blue}
a:active { text-decoration:blink}
a:hover { text-decoration:underline;color: red}
a:visited { text-decoration: none;color: #fff} 



.clearfix:after
{
    content: '';
  display: block;
  clear: both;
}

ul
{
  margin: 0;
}
header
{
  background: rgba(0,0,0,0.3);
}
nav
{
  background: #FF44AA ;
  height: 50px;
   background: rgba(0,0,0,0.3);
   position: fixed;
  
   text-align: center;
   width: 100%;
}
#banner
{
  background: transparent;
  height: 700px;
  text-align: center;



}
.article #banner{
  height: 300px;


}
nav ul
{
  list-style: none;
  margin: 0;
  float: right;
}
nav ul li,nav .logo 
{
   display: inline-block;
	 line-height: 50px;
    margin-right: 20px;
    color: #fff;
    float: left;
}

nav ul li a
{
   line-height: inherit;
   text-decoration: none;
   display: inline-block;
   height: inherit;
   color: #fff;
}
nav ul li.logo
{
   float: left;
   padding: 10px;
  }
#banner .inner
{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 160px;
  color: #fff;
}
.article #banner .inner{
  top: 30px;

}
#banner .inner h1
{
    margin: 0;
    text-align: center;

}

 button 
{
   background: rgba(0,0,0,0);
   color: #fff;
   text-align: center;
   font-size:20px;
  width:300px; height:90px;
  font-family: "myFont",Georgia,Serif;

   border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
}

#banner button::before
{
  content: '';
  display: block;
  width: 90px;
  height: 66px;
  position: relative;
  left: 50%;
  bottom: -5.5em;
  margin-left: -45px;
  margin-bottom: -40px;
  background: url('images/arrow.svg') no-repeat;

}
#banner  button::after
{
  content: '';
  display: block;
 
  height: 13em;
  position: relative;
  left: 50%;
  bottom: -3em;
  border-left: solid 1px #fff;

}
*::before,*::after
{
  box-sizing: border-box;;
}




#banner 
{
  padding: 60px 60px;
  text-transform: none;

}

a:link, a:visited
{
  text-transform: none;
  
}

#banner .inner .more
{
	margin-top: 280px;
  color: #fff;
}
.sub-heading
{
   line-height: 30px;
   margin: 30px 0;
}
.logo
{
  font-size: 20px;
  font-family: "myFont",Georgia,Serif;
  letter-spacing: 1px;
  color: #fff;
}
.logo a
{
  color: #fff;
  text-decoration: none;

}

.active
{
  border-bottom: 4px solid #fff;
}

h1
{
  padding: 12px;
  border-top: 2px solid #fff;
  border-bottom: 2px  solid #fff;
}
.article  h1{
  border: none;
}
h2
{
  font-size: 30px;
}
h3
{
  font-size: 24px;

}
p
{
  font-size: 18px;
  letter-spacing: 1px;
}

.hr
{width: 100%;
  height: 2px;
 margin: 20px auto;
}
.more{
  font-size: 30px;
  
}

.sub-heading
{
  font-size: 18px;
}
.green-section
{
  background: #FFB7DD   url(images/9.jpg);
  color: #fff;
  padding: 100px 0;
  text-align: center;
  background: rgba(0,0,0,0.3);
}
.green-section .hr
{
  background: #EE7700 ;
  width: 60%;

}
.icon{
    text-align: center;
    font-size: 15px;
}
.green-section .icon-group .icon
{   
   display: inline-block;
   width: 200px;
   height: 80px;

   transform: rotate(0deg );
   margin: 50px;
   background: url(images/heart-pink-3-icon-32.png) no-repeat;
}
.icon-group
{
  margin-top: 30px; 

}
.wrapper
{
  max-width: 1080px;
  margin:0 auto;
}



.pink-section .img-section
{
   width: 50%;
  
}

.img-section img
{ 
  width: 100%;
 
}
.pink-section
{
  
  background: #FFB7DD   url(images/8.jpg);
  background: rgba(0,0,0,0.3);
  color: #fff;
   background-repeat: no-repeat;
  background-size: cover;

}
.pink-section .text-section
{
  width: 50%;
  text-align: center;

}
.article-preview > div
{
   float: left;
   font-size: 0;
 }
 .article-preview:nth-child(odd)
 {
  background-color: 
  rgba(255,255,255,0.05);
 }
.article-preview:after
{
  content: '';
  display: block;
  clear: both;
}

.text-section
{
  position: relative;
  top: 68px;
  left: 50px;

}
.text-section h2
{
  margin-bottom: 20px;
}
.text-section .sub-heading
{

  font-size: 20px;
  margin-top: 0;

}
a .article
{
  color: #f55f77;
  margin-left: 10px;
  font-weight: bold;
}

.text-section p
{
  font-size: 18px;
  letter-spacing: 1px;
}
.text-section > * 
{
   max-width: 90%;
}
.purple-section
{
  background: #66009D ;
  color: #fff;
  padding: 80px;
  background: rgba(0,0,0,0.4);
}
.purple-section .heading-wrapper
{
  text-align: center;

}
.purple-section  .hr
{
  background: #FF3333; 
  width: 60%;
}
.card
{
  float: left;
  width: 50%;
  min-height: 400px;
  text-align: center;
  padding: 50px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  
}
.card:first-child
{
  background: rgba(0,0,0,0.04);
}
.card:nth-child(2)
{
  background: rgba(0,0,0,0.08);
}
.card:nth-child(3)
{
  background: rgba(0,0,0,0.12);
}
.card:nth-child(4)
{
  background: rgba(0,0,0,0.16);
}
.card:nth-child(5)
{
  background: rgba(0,0,0,0.20);
}
.card:nth-child(6)
{
  background: rgba(0,0,0,0.24);
}

footer
{
  
  background: #FFB7DD;
 background: rgba(0,0,0,0.3);
  color: #fff;
  min-height: 200px;
  text-align: center;
  
}
ul.share-group
{
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding: 50px;
}
.share-group li
{
  display: inline-block;
  padding: 10px;
 font-family: "myFont",Georgia,Serif;
}
.copy
{
  padding-bottom: 20px;

}
.main-wrapper
{
  background: #FFB7DD   url(images/banner.jpg);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
    overflow: hidden;
}
.mask{
    display:none ;
    position: fixed;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}
#sidebar{
     
    position: fixed;
    width:300px ;
    top: 0;
    right: -300px;
    bottom: 0;
    background: #333;
    background:  rgba(0,0,0,0.3);
    color: #fff;
    padding: 20px 0;   
     transition:right   0.5s;
   }
#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul a{
    color: #fff;
    width: 100%;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
}
#sidebar ul a:hover{
    background:  rgba(0,0,0,0.3);
}
.back-to-top
 {
    font-size: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid mediumpurple;
    text-decoration: none;

 }
 .article . content{
  background: #fefefe;

 }
 .content_wrapper{
  width: 1080px;
  margin: 0 auto;
 }
 article{
  line-height: 2;
  font-size: 20px;
  padding: 10px 0;
  color:#fff;
 }
 .article_info{
  font-size: 14px;
  color: #888;
  padding: 15px 0;

 }
 #list {
            list-style: none;
            width: 400px;
            border: 1px solid pink;
            margin: 20px auto;
           padding: 50px auto;
           -moz-border-radius: 15px; 
          -webkit-border-radius: 15px;
           border-radius:15px;
          margin-right: 150px;
          }
 #list1 {
            list-style: none;
            width: 400px;
            border: 1px solid pink;
            margin: 20px auto;
           padding: auto; ;
           -moz-border-radius: 15px; 
          -webkit-border-radius: 15px;
           border-radius:15px;
           float: left;
          margin-right: 150px;
          margin-top: 0;
          }

#list li {    
            list-style: none;
            background: none;
            margin: 10px 0;
            text-align: center;

        }
textarea {
            display: block;
            width: 400px;
            margin: 10px auto;
            text-align: center;
            height: 200px;
        }
.liuyan button{
  text-align: center;
}
  
